{% extends 'base.html' %}

{% block title %}Cadastro - FocusPet{% endblock %}

{% block content %}
  <section class="card">
    <h1>Cadastro</h1>
    <form method="post">
      <label>Email</label>
      <input type="email" name="email" required>

      <label>Senha</label>
      <input type="password" name="senha" required>

      <button type="submit">Criar conta</button>
    </form>
    <p><a href="{{ url_for('auth.login') }}">Já tenho conta</a></p>
  </section>
{% endblock %}
